<section class="content">
  <% @wallets.each do |wallet| %>
    <%= hidden_field_tag wallet.checked, value: true %>
    <%= radio_button_tag 'name', 'value' %>
    <%= wallet.name %>
  <% end %>
    <% @users.each do |user| %>
      <% unless user.id == current_user.id %>
        <span class="users">
          <div><%= image_tag user.image %></div>
          <div><strong><%= user.username %></strong></div>
          <br>
          <div><strong>Followers: </strong> <%= user.following_count %></div>
          <br>
          <div><strong>Following: </strong> <%= user.followers_count %></div>
          <p><strong>Wallets</strong></p>
          <% @wallets.each do |wallet| %>
            <% if user.id == wallet.user_id %>
              <div><%= link_to wallet.name, wallet_path(wallet) %></div>
              <br>
            <% end %>
          <% end %>
        </span>
      <% end %>
    <% end %>
</section>
