<section class="content">

	<% @users.each do |user| %>
		<span class="users">
			<div><%= image_tag user.image %></div>
			<div><strong><%= user.username %></strong></div>
			<br>
			<div><strong>Followers: </strong> <%= user.following_count %></div>
			<br>
			<div><strong>Following: </strong> <%= user.followers_count %></div>
			<p><strong>Wallets</strong></p>
			<% @wallets.each do |wallet| %>
				<% if user.id == wallet.user_id %>
					<div><%= link_to wallet.name, wallet_path(wallet), class: 'user-w' %></div>
				<% end %>
			<% end %>
		</span>
	<% end %>

</section>
