<html>
<head>
	<title>MusicWallet</title>
</head>
<body>

	<header>
		<nav>	
			<%= link_to 'Home', root_path %>
			<%= link_to 'Profile', user_path(current_user) %>
		</nav>
	</header>
	<div>
		<div><%= current_user.username %></div>
		<div><%= image_tag current_user.image%></div>
	</div>

	<%= render 'wallets/form' %>
	<% @wallets.each do |wallet| %>
		<p><%= wallet.name %></p>
	<% end %>


	<hr>
	<% @tracks.each do |track| %>
		<%= image_tag track.artwork_url %>
		<p><%= link_to track.title, track.permalink_url  %></p>
		<hr>
	<% end %>
	
</body>
</html>
