
	<% if user_signed_in? %>
		<section class="content">
			<div><%= image_tag current_user.image %></div>
			<strong><p>Signed in as <%= current_user.username %></p></strong>
					
				<h2 class="head">Top 5 Tracks</h2>
				<hr>
				<% @songs.each do |song| %>
		  			<iframe width="100%" height="400" scrolling="no" frameborder="no" src="https://w.	soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<	%= song.id %>&	show_artwork=true&client_id=3e664ddb00dc36cccd7244884f13749d"></	iframe>
		  			<%= form_for @song do |f| %>
							<%= f.hidden_field :track_id, value: song.id %>
							<%= f.collection_radio_buttons :wallet_id, Wallet.all, :id, :name %>
							<%= f.submit 'Add', class: 'actions' %>
						<% end %>
		  			<hr>
				<% end %>
			</section>
		<% else %>
			<%= image_tag "home.png", class: 'home-image' %>
			<div id="connect"><%= link_to "Connect with Soundcloud", user_omniauth_authorize_path(:soundcloud), class: 'actions' %></div>
		<% end %>